

.App-logo {
  height: 40vmin;
}


.App-link {
  color: #09d3ac;
}

img {
  width: 200px;
box-shadow: 0px 0px 40px 40px white;
}
body {
  background: rgb(171,29,34);
}

code{
  color: white;
  background: #131313;
}

blockquote {
  border-left: 3px solid teal;
  padding-left: 10px;
  font-style: italic 
}